<div class="container-fluid text-center p-4 bg-dark text-white">
  <h1>Weather Forecast</h1>
</div>
<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4">
      <div class="text-center">
        <app-temperature-widgets cityName="London"></app-temperature-widgets>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="text-center">
        <app-temperature-widgets cityName="Paris"></app-temperature-widgets>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="text-center">
        <app-temperature-widgets cityName="New York"></app-temperature-widgets>
      </div>
    </div>
    <div class="col col-md-4 mt-2">
      <div class="text-center">
        <app-temperature-widgets
          cityName="Los Angeles"
        ></app-temperature-widgets>
      </div>
    </div>
    <div class="col col-md-4 mt-2">
      <div class="text-center">
        <app-temperature-widgets cityName="Tokyo"></app-temperature-widgets>
      </div>
    </div>
  </div>
</div>
